# Function

In [1]:
a = 1
b = 2
c = a + b
c

3

In [3]:
print(2 == "2")
2 != 2.0

False

False

In [48]:
def add_numbers(x): 
    
    x += 1
    y = 1
    z = 1
    return [x,y]


results = add_numbers(1)

a = [1,2,3,4,5,6]
a[3]

4

In [34]:
def add_numbers(x,y, add=True):
    if (1 == 2):
        res = x+y
    else:
        res = x + x+ y +y 
    return res
    
print(add_numbers(1, 2))
print(add_numbers(1, 2, add=False))

3
6

In [44]:
def add_numbers(x, y, k=10):
    dxxxx
    model = xxx
    
    return x + y


print(add_numbers(1, 2 savae_model=False))

3

In [37]:
if 2:
    print("equal")

False

In [67]:
# unlimited 
def add_numbers_1(x):
    print("x first: ", x)
    sum = 0
    for i in x:
        print("x", x)
        print("i", i)
        sum += i
    return sum

def time_numbers_1(x):
    y=x*x
    return y


import numpy as np

# matrix_a = np.asarray([[1,2],[3,4]])
# time_numbers_1([[1,2],[3,4]])

# add_numbers_1([1,2,3,5,6, 7])

a = [[1,2],[3,4],[5,6]]

TypeError: list indices must be integers or slices, not tuple

In [54]:
matrix_a

array([[1, 2],
       [3, 4]])

In [69]:
sum([1,2,3,5,6,9])

26

In [78]:
def add_numbers_2(x, y, *z):
    sum = x+y
    print(z)
    for i in z:
        sum += i
    return sum
    

add_numbers_2(2,3,5)

(5,)

10

In [15]:
# kwargs
def person(name, age):
    print('name:', name, 'age:', age)
    
person('fred', 18)

name: fred age: 18

In [81]:
def person(name, age, **kwargs):
    print('name:', name, 'age:', age)
    for key in kwargs:
        print(key + ': '+ kwargs[key])

# person('fred', 18)
extra = {'gender': 'male', 'nation': 'China', 'skin': 'yellow'}
person('fred', 18, **extra)

name: fred age: 18
gender: male
nation: China
skin: yellow

# Types and Sequences

In [51]:
a = 1
b = 2.0 
c = 'jianing is learning python'
type(a)

int

In [52]:
type(b)

float

In [53]:
type(c)

str

In [54]:
type(add_numbers)

function

In [55]:
x = [1, 'a', 2, 'b']
type(x)

list

In [56]:
x = {'gender': 'male', 'nation': 'China'}
type(x)

dict

In [58]:
# list
x = [1,2,3,4,5,6,7]
x.append(3.3)
x

[1, 2, 3, 4, 5, 6, 7, 3.3]

In [62]:
x = [1,2,3,4,5,6,7]
x.extend([4.4])
x

[1, 2, 3, 4, 5, 6, 7, 4.4]

In [66]:
x = [1,2,3,4]
x.append([5,6])
x

[1, 2, 3, 4, [5, 6]]

In [12]:
x = [1,2,3,4]
x.extend([5,6])
x

[1, 2, 3, 4, 5, 6]

In [72]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [73]:
[1]*3

[1, 1, 1]

In [74]:
if 1 in [1, 2, 3]:
    print("in")

in

In [68]:
for item in x:
    print(item)

1
2
3
4
5
6

In [70]:
for item in range(5):
    print(item)

0
1
2
3
4

In [8]:
range(5)

range(0, 5)

In [6]:
for i in list(range(5)):
    print(i)

0
1
2
3
4

In [9]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
x

[1, 2, 3, 4, 5, 6]

In [ ]:
# x+1? -> comprehension

In [76]:
# string
x = 'jianing python'
for i in x:
    print(i)

j
i
a
n
i
n
g

p
y
t
h
o
n

In [77]:
x = 'jianing python'
x[0]

'j'

In [78]:
x[0:4]

'jian'

In [79]:
x[-1]

'n'

In [82]:
x[-6:]

'python'

In [84]:
a = 'fred'
b = 'li'
a + ' ' + b

'fred li'

In [85]:
'fred' in a + ' ' + b

True

In [87]:
a = 2
'Chris' + a

TypeError: must be str, not int

In [88]:
a = 2
'Chris' + str(a)

'Chris2'

In [89]:
# dict
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [91]:
x['Kevyn Collins-Thompson'] = '123@qwe.com'
x

{'Christopher Brooks': 'brooksch@umich.edu',
 'Bill Gates': 'billg@microsoft.com',
 'Kevyn Collins-Thompson': '123@qwe.com'}

In [98]:
for name in x:
    print(name)

Christopher Brooks
Bill Gates
Kevyn Collins-Thompson

In [97]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
123@qwe.com

In [99]:
for name in x.keys():
    print(name)

Christopher Brooks
Bill Gates
Kevyn Collins-Thompson

In [93]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
123@qwe.com

In [108]:
for name, email in x.items():
    print(name + ': ' + email)

Christopher Brooks: brooksch@umich.edu
Bill Gates: billg@microsoft.com
Kevyn Collins-Thompson: 123@qwe.com

In [107]:
a, b, c = x['Christopher Brooks'], x['Bill Gates'], x['Kevyn Collins-Thompson']
a

'brooksch@umich.edu'

In [118]:
# print
print("jianing is learning", "python")
lang1 = 'python'
lang2 = 'dutch'
print("jianing is learning %s" % lang1)
print("jianing is learning %s and %s" % (lang1, lang2))
print("jianing is learning {} and {}".format(lang1, lang2))
print("jianing is learning {1} and {0}".format(lang1, lang2))

jianing is learning python
jianing is learning python
jianing is learning python and dutch
jianing is learning python and dutch
jianing is learning dutch and python

In [ ]:
# time -> arrow